[Unit]
Description=Rush Ngrok Tunnel
After=network-online.target

[Service]
Type=simple
User=lumen
ExecStart=/snap/bin/ngrok http 8765
Restart=always
RestartSec=3
StartLimitBurst=5
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
